@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8d7da; 
}

h2 {
    text-align: center;
    color: #721c24; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.voltar{
    background-color: #d89b51; 
    color: #fff;
    border: none;  
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}


li button {
    background-color: #46241e; 
    color: #fff;
    border: none;  
    border-radius: 5px; 
    padding: 5px 10px; 
}

footer {
    font-size: 1rem;
    color:black;
    display: flex;        
    justify-content: center;
    align-items: center;     

}