@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#efc7bf ;
}
header{
    display: flex;
    align-items: center;
    position: relative;
}

.topo{
    margin: 20px;
}

header img{
    height: 150px;
    width: 150px;
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #dc3545; 
}

li button:hover {
    background-color: #c82333; 
}

.lixeira{
    height: 50px;
}

.img_ursowrite{
    margin-left: 100px;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
    color:black;
}

