@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    margin: 0;
    padding: 20px;
    background-color:#efc7bf ;
}

h2{
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
}


header img{
    height: 150px;
    width: 150px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 10px 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.adicionartarefas{
    margin: 10px;
    padding: 15px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.campo_txt{
    justify-content: center;
}
.tarefas{
    padding-left: 280px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    width: 70%;
    margin: 5px 5px 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #dc3545;
    border: none; 
    border-radius: 5px;
    cursor: pointer;

}

li button:hover {
    background-color: #c82333; 
}

main div{
    display: flex;
    align-items: center;
}

.polar{
    height: 269px;
}

.urso{
    height: 269px;
    margin-left: 850px;
}

.home{
    height: 50px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
    
}

.lixeira{
    height: 50px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

footer {
    position: absolute;
    font-size: 1rem;
    color:black;
}

